# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Vagrant-related items
.vagrant/
guest_disks/

# System related items
.DS_Store
vpc
crdb/
docs/bash.d/
docs/man/
docs/md/
.idea/
