# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vagrant-related items
/.vagrant/
vagrant/guest_disks/
vagrant/boxes/

# System related items
.DS_Store
/bin/
/crdb/
.idea/

# Below is managed via:
# git status -s | grep '^?? ' | awk '{print $2}' | sed -e 's#^#/#g' >> .gitignore
/vendor/github.com/freebsd/freebsd/.arcconfig
/vendor/github.com/freebsd/freebsd/.arclint
/vendor/github.com/freebsd/freebsd/.gitattributes
/vendor/github.com/freebsd/freebsd/.gitignore
/vendor/github.com/freebsd/freebsd/COPYRIGHT
/vendor/github.com/freebsd/freebsd/LOCKS
/vendor/github.com/freebsd/freebsd/MAINTAINERS
/vendor/github.com/freebsd/freebsd/Makefile
/vendor/github.com/freebsd/freebsd/Makefile.inc1
/vendor/github.com/freebsd/freebsd/Makefile.libcompat
/vendor/github.com/freebsd/freebsd/Makefile.sys.inc
/vendor/github.com/freebsd/freebsd/ObsoleteFiles.inc
/vendor/github.com/freebsd/freebsd/README
/vendor/github.com/freebsd/freebsd/README.md
/vendor/github.com/freebsd/freebsd/UPDATING
/vendor/github.com/freebsd/freebsd/bin/
/vendor/github.com/freebsd/freebsd/cddl/
/vendor/github.com/freebsd/freebsd/contrib/
/vendor/github.com/freebsd/freebsd/crypto/
/vendor/github.com/freebsd/freebsd/etc/
/vendor/github.com/freebsd/freebsd/gnu/
/vendor/github.com/freebsd/freebsd/include/
/vendor/github.com/freebsd/freebsd/kerberos5/
/vendor/github.com/freebsd/freebsd/lib/
/vendor/github.com/freebsd/freebsd/libexec/Makefile
/vendor/github.com/freebsd/freebsd/libexec/Makefile.amd64
/vendor/github.com/freebsd/freebsd/libexec/Makefile.i386
/vendor/github.com/freebsd/freebsd/libexec/Makefile.inc
/vendor/github.com/freebsd/freebsd/libexec/atf/
/vendor/github.com/freebsd/freebsd/libexec/atrun/
/vendor/github.com/freebsd/freebsd/libexec/blacklistd-helper/
/vendor/github.com/freebsd/freebsd/libexec/bootpd/
/vendor/github.com/freebsd/freebsd/libexec/comsat/
/vendor/github.com/freebsd/freebsd/libexec/dma/
/vendor/github.com/freebsd/freebsd/libexec/fingerd/
/vendor/github.com/freebsd/freebsd/libexec/ftpd/
/vendor/github.com/freebsd/freebsd/libexec/getty/
/vendor/github.com/freebsd/freebsd/libexec/hyperv/
/vendor/github.com/freebsd/freebsd/libexec/mail.local/
/vendor/github.com/freebsd/freebsd/libexec/makewhatis.local/
/vendor/github.com/freebsd/freebsd/libexec/mknetid/
/vendor/github.com/freebsd/freebsd/libexec/pppoed/
/vendor/github.com/freebsd/freebsd/libexec/rbootd/
/vendor/github.com/freebsd/freebsd/libexec/revnetgroup/
/vendor/github.com/freebsd/freebsd/libexec/rpc.rquotad/
/vendor/github.com/freebsd/freebsd/libexec/rpc.rstatd/
/vendor/github.com/freebsd/freebsd/libexec/rpc.rusersd/
/vendor/github.com/freebsd/freebsd/libexec/rpc.rwalld/
/vendor/github.com/freebsd/freebsd/libexec/rpc.sprayd/
/vendor/github.com/freebsd/freebsd/libexec/rtld-aout/
/vendor/github.com/freebsd/freebsd/libexec/rtld-elf/
/vendor/github.com/freebsd/freebsd/libexec/save-entropy/
/vendor/github.com/freebsd/freebsd/libexec/smrsh/
/vendor/github.com/freebsd/freebsd/libexec/talkd/
/vendor/github.com/freebsd/freebsd/libexec/tcpd/
/vendor/github.com/freebsd/freebsd/libexec/telnetd/
/vendor/github.com/freebsd/freebsd/libexec/tests/
/vendor/github.com/freebsd/freebsd/libexec/tftp-proxy/
/vendor/github.com/freebsd/freebsd/libexec/tftpd/
/vendor/github.com/freebsd/freebsd/libexec/ulog-helper/
/vendor/github.com/freebsd/freebsd/libexec/ypxfr/
/vendor/github.com/freebsd/freebsd/release/
/vendor/github.com/freebsd/freebsd/rescue/
/vendor/github.com/freebsd/freebsd/sbin/
/vendor/github.com/freebsd/freebsd/secure/
/vendor/github.com/freebsd/freebsd/share/
/vendor/github.com/freebsd/freebsd/stand/
/vendor/github.com/freebsd/freebsd/sys/
/vendor/github.com/freebsd/freebsd/targets/
/vendor/github.com/freebsd/freebsd/tests/
/vendor/github.com/freebsd/freebsd/tools/
/vendor/github.com/freebsd/freebsd/usr.bin/
/vendor/github.com/freebsd/freebsd/usr.sbin/

# Image building tools
/iso/*.iso
